In [79]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import Data

In [80]:
# import data
passing = pd.read_csv('../raw_data/Career_Stats_Passing.csv')
rushing = pd.read_csv('../raw_data/Career_Stats_Rushing.csv')
basic = pd.read_csv('../raw_data/Basic_Stats.csv')

# Passing

In [81]:
# get columns needed
passing_columns = [
    'Player Id','Name','Games Played','Passes Attempted','Passes Completed',
    'Passing Yards','TD Passes','Ints','Passes Longer than 20 Yards',
    'Passes Longer than 40 Yards','Sacks','Sacked Yards Lost']
passing = passing[passing_columns].replace('--', np.nan).dropna().replace(',','', regex=True)
passing.head()

,Player Id,Name,Games Played,Passes Attempted,Passes Completed,Passing Yards,TD Passes,Ints,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost
1,tomfarris/2513861,Farris Tom,9,2,0,0,0,0,0,0,0,0
2,tomfarris/2513861,Farris Tom,11,21,8,108,1,2,0,0,0,0
4,billdemory/2512778,Demory Bill,6,39,12,159,2,8,0,0,8,73
10,breezyreid/2523928,Reid Breezy,12,1,0,0,0,0,0,0,0,0
12,johnnyknolla/2518652,Knolla Johnny,7,1,0,0,0,0,0,0,0,0

In [82]:
# convert to numeric data
numeric_passing = [
    'Games Played','Passes Attempted','Passes Completed',
    'Passing Yards','TD Passes','Ints','Passes Longer than 20 Yards',
    'Passes Longer than 40 Yards','Sacks','Sacked Yards Lost']
passing[numeric_passing] = passing[numeric_passing].apply(pd.to_numeric)
passing = passing.groupby(['Player Id', 'Name']).sum()
passing.head()

,,Games Played,Passes Attempted,Passes Completed,Passing Yards,TD Passes,Ints,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost
Player Id,Name,,,,,,,,,,
a.j.feeley/2504566,Feeley A.J.,28,762,425,4618,28,31,48,5,44,276
aaronrodgers/2506363,Rodgers Aaron,142,4657,3034,36827,297,72,483,104,341,2163
aceparker/2522734,Parker Ace,56,603,273,3935,22,47,0,0,0,0
acesanders/2540267,Sanders Ace,15,1,1,21,1,0,1,0,0,0
adamvinatieri/2503471,Vinatieri Adam,16,1,1,4,1,0,0,0,0,0

In [83]:
# merge basic stats to passing
passing = pd.merge(passing, basic, how='left', on=['Player Id'])
passing.head()

,Player Id,Games Played,Passes Attempted,Passes Completed,Passing Yards,TD Passes,Ints,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,...,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Position,Weight (lbs),Years Played
0,a.j.feeley/2504566,28,762,425,4618,28,31,48,5,44,...,NaN,11 Seasons,75.0,NaN,NaN,"Feeley, A.J.",NaN,NaN,216.0,2001 - 2011
1,aaronrodgers/2506363,142,4657,3034,36827,297,72,483,104,341,...,Green Bay Packers,13th season,74.0,Pleasant Valley HS,"Chico, CA","Rodgers, Aaron",12.0,QB,225.0,NaN
2,aceparker/2522734,56,603,273,3935,22,47,0,0,0,...,NaN,7 Seasons,72.0,NaN,NaN,"Parker, Ace",NaN,NaN,178.0,1937 - 1946
3,acesanders/2540267,15,1,1,21,1,0,1,0,0,...,NaN,2 Seasons,67.0,NaN,NaN,"Sanders, Ace",NaN,NaN,178.0,2013 - 2014
4,adamvinatieri/2503471,16,1,1,4,1,0,0,0,0,...,Indianapolis Colts,22nd season,72.0,Central HS,"Rapid City, SD","Vinatieri, Adam",4.0,K,206.0,NaN

In [84]:
passing.to_csv('../processed_data/passing.csv')

# Rushing

In [85]:
# get columns needed
rushing_columns = [
    'Player Id','Name','Games Played','Rushing Attempts','Rushing Yards',
    'Rushing TDs','Rushing More Than 20 Yards','Rushing More Than 40 Yards','Fumbles']
rushing = rushing[rushing_columns].replace('--', np.nan).dropna().replace(',','', regex=True)
rushing.head()

,Player Id,Name,Games Played,Rushing Attempts,Rushing Yards,Rushing TDs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
7,quinnjohnson/79593,Johnson Quinn,16,4,5,0,0,0,0
16,joeadams/2532782,Adams Joe,9,3,13,0,0,0,0
23,clarenceverdin/2503464,Verdin Clarence,16,3,33,0,1,0,0
25,clarenceverdin/2503464,Verdin Clarence,16,1,4,0,0,0,0
39,jasonbaker/2504395,Baker Jason,16,1,0,0,0,0,0

In [86]:
# convert to numeric data
numeric_rushing = [
    'Games Played','Rushing Attempts','Rushing Yards', 'Rushing TDs',
    'Rushing More Than 20 Yards','Rushing More Than 40 Yards','Fumbles']
rushing[numeric_rushing] = rushing[numeric_rushing].apply(pd.to_numeric)
rushing = rushing.groupby(['Player Id', 'Name']).sum()
rushing.head()

,,Games Played,Rushing Attempts,Rushing Yards,Rushing TDs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
Player Id,Name,,,,,,,
a.j.feeley/2504566,Feeley A.J.,27,37,49,1,0,0,5
a.j.green/2495450,Green A.J.,44,11,93,0,2,0,2
a.j.jenkins/2532876,Jenkins A.J.,25,4,4,0,0,0,1
a.j.schable/2506734,Schable A.J.,11,1,5,0,0,0,0
aaronbailey/2499487,Bailey Aaron,28,4,54,0,1,0,0

In [87]:
# merge basic stats to rushing
rushing = pd.merge(rushing, basic, how='left', on=['Player Id'])
rushing.head()

,Player Id,Games Played,Rushing Attempts,Rushing Yards,Rushing TDs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles,Age,Birth Place,...,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Position,Weight (lbs),Years Played
0,a.j.feeley/2504566,27,37,49,1,0,0,5,40.0,"Caldwell , ID",...,NaN,11 Seasons,75.0,NaN,NaN,"Feeley, A.J.",NaN,NaN,216.0,2001 - 2011
1,a.j.green/2495450,44,11,93,0,2,0,2,28.0,"Ridgeville , SC",...,Cincinnati Bengals,7th season,76.0,Summerville HS,SC,"Green, A.J.",18.0,WR,210.0,NaN
2,a.j.jenkins/2532876,25,4,4,0,0,0,1,27.0,"Jacksonville , FL",...,NaN,4 Seasons,73.0,NaN,NaN,"Jenkins, A.J.",NaN,NaN,195.0,2012 - 2015
3,a.j.schable/2506734,11,1,5,0,0,0,0,33.0,"Ida Grove , IA",...,NaN,3 Seasons,75.0,NaN,NaN,"Schable, A.J.",NaN,NaN,281.0,2006 - 2011
4,aaronbailey/2499487,28,4,54,0,1,0,0,45.0,"Ann Arbor , MI",...,NaN,5 Seasons,70.0,NaN,NaN,"Bailey, Aaron",NaN,NaN,185.0,1994 - 1998

In [88]:
rushing.to_csv('../processed_data/rushing.csv')